.right {
    text-align: right;
}

div.ex1 {

    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}



#send_room, #leave, #header_message, #m {

display:none;

}

.style1{
    background-color:red;
    color:white;
    font-size:44px;
}

.button-profile-picture input[type="radio"] {
    display: none;
}


.match_image {
    border-radius: 60%;
}
