{% extends 'base.html'%}
{% block content %}
    <h3>Choose 5 categories.</h3>
    <form action="/categories" method='POST'>
    {% for category in categories %}
        
            <input type='checkbox' name='cat_id' value='{{ category.cat_id }}'>
            {{ category.cat_title }}
            <br>
        
    {% endfor %}

        <input type='submit' name='submitted'>
    </form>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>
        </script>
    
{% endblock %}
