{% extends 'base.html' %}
{% block content %}
    <body class="text-center bg-light">
        <div class="container-fluid nav-munch">
            <div class="col-12 nav-munch">
                <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                    <img src="/static/logo3.png" height="90" width="130">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link active" href="/munchbuddies">Home<span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="#">&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                            <a class="nav-item nav-link" href="/saved-restaurants">Saved Restaurants</a>
                            <a class="nav-item nav-link" href="#">&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                            <a class="nav-item nav-link" href="/logout">Log Out</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>


        <div class="col-3"></div>

        <div class="col-md-6 edit-page">
            <div class="container bg-white edit-container rounded nav-munch-edit">
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <img class="edit-profile-pic" src="{{ profile_picture }}" alt="Snow">
                            <button class="btn edit-pic-button"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                        <br><br>
                        <form class="form-pic-edit" method=POST enctype=multipart/form-data action='{{ url_for("update_edit_profile") }}' hidden="true">
                            <input type=file name='photo'>
                            <input type='submit'>
                        </form>
                        <br><br>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 border2">
                        <div class="row for-name-row">
                            <h2 class="edit-name for-name">{{ display_name }}<button style="float: right;" class="btn edit-name-button"><i class="fas fa-pencil-alt"></i></button></h2>
                        </div>
                        <br>
                        <h5 class="edit-interest"><span class="edit-interest">{{ interests }}</span></h5>

                        <form action='/editprofile' method='POST' class="form-group form-group-edit">
                            <input type="text" class="display-name form-control" name="display_name" value='{{ display_name }}' hidden="true" autofocus>
                                <textarea class="interest form-control" rows="4" cols="30" maxlength="250" name="interests" hidden="true">{{ interests }}</textarea>
                            <input class="submit-button" type='submit' value='Update' float="right" hidden="true">
                        </form>
                    </div>

                    <div class="col-md-6 border1">
                        <h3>Your Categories: </h3>
                        {% for category in chosen_categories %}
                            <h6 class="align-categories">{{ category }}</h6>
                            
                        {% endfor %}
                    </div>
                </div>  
                <br>
            <button type="button" class="btn btn-danger btn-lg btn-block">Cancel</button>
          
            </div>
        </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript">

        $('.edit-pic-button').on('click', function(){
            $('.form-pic-edit').attr('hidden', false);
        });

        $('.edit-name-button').on('click', function(){
            $('.edit-name-button').attr('hidden', true)
            $('.edit-name').attr('hidden', true)
            $('.edit-interest').attr('hidden', true)

            $('.display-name').attr('hidden', false);
            $('.interest').attr('hidden', false);
            $('.submit-button').attr('hidden', false);
        });




        
    </script>
         
    </body>
{% endblock %}