{% extends 'base.html' %}
{% block content %}
    <body class="text-center bg-light">
        <div class="container-fluid nav-munch">
            <div class="col-12 hi nav-munch">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <span class="nav-brand"><i>Munch Buddy</span></i>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="/Log in">Log in</a>

                        <a class="nav-item nav-link" href="#">|</a>

                        <a class="nav-item nav-link" href="/Log out">Log out</a>
                    </div>
                </div>
            </nav>
            </div>
        </div>

        <div id="home-page-container" class='container home-page-font'>
            <h1 class="home-page-font">Munch Buddy</h1>
            <button id='login' class="btn btn-danger">Log in</button>
            <button id='signup' class="btn btn-danger">Sign up</button>

            <form class='sign-in form-signin' action='/login' method='post' hidden='true'>
                <input type='text' class='form-control' name='username' placeholder='Username' required autofocus>
                <input type='password' class="form-control" name='password' placeholder='Password' required autofocus>
                <button class="btn btn-primary btn-danger btn-lg  btn-block" type='submit'>Log in</button>
            </form>
            
            <form action='/signup' class='form-signin' method='POST' id="frm" hidden='true'>
                <input type="text" class='form-control' name="username" placeholder='Username' required autofocus>
                <input type="text" class='form-control' name="display_name" placeholder='Display name' required>
                <input type="password" class='form-control' name="password" placeholder='Password' required>
                <textarea  maxlength="250" class='form-control' name="interests" placeholder="Interests(optional)" form="frm" ></textarea>
                <button id='submit-info' class="btn btn-danger btn-lg btn-primary btn-block" type='submit'>Sign Up</button>
            </form>
        </div>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script>

                $('button#signup').on('click', function(evt) {
                    $('h2#signup-header').attr('hidden', false);
                    $('form#frm').attr('hidden', false);
                    $('#login').attr('hidden', false)
                    $('#signup').attr('hidden', true)
                    $('#home-page-container').attr('id',"home-page-container-2")
                    $('h1.home-page-font').attr('hidden', true)


                    $('form.sign-in').attr('hidden', true);

                });

                $('button#login').on('click', function(evt) {
                    $('h2#signup-header').attr('hidden', true);
                    $('form#frm').attr('hidden', true);
                    $('#login').attr('hidden', true)
                    $('#home-page-container').attr('id',"home-page-container-3")
                    

                    $('form.sign-in').attr('hidden', false);

                });

                $('input#submit-info').on('submit', function(evt) {
                    $('form#upload-photo').attr('hidden', false);

                    $('h2#signup-header').attr('hidden', true);
                    $('form#frm').attr('hidden', true);
                    $('h2#signup-header').attr('hidden', true);
                    $('form#frm').attr('hidden', true);

                });




            </script>
        
    </body>
{% endblock %}

