{% extends 'base.html' %}
{% block content %}
    <body class="text-center bg-light">
        <div class="container-fluid nav-munch">
            <div class="col-12 hi nav-munch">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <img src="/static/logo3.png" height="90" width="130">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <form class='form-inline my-2 my-lg-0' action='/login' method='post'>
                            <input class="form-control mr-sm-2" type='text' name='username' placeholder='Username' required autofocus>
                            <input class="form-control mr-sm-2" type='password' name='password' placeholder='Password' required autofocus>
                            <button class="btn btn-danger my-2 my-sm-0" type="submit">Log in</button>
                        </form>

                    </div>
                </div>
            </nav>
            </div>
        </div>

        <div id="home-page-container" class='container home-page-font'>
            <h1 class="home-page-font">Munch Buddy
            <i><h6 class="home-page-font2">Make a new friend today over a great meal!</h6></i></h1>
            <button id='login' class="btn btn-danger">Log in</button>
            <button id='signup' class="btn btn-danger">Sign up</button>

            <form class='sign-in form-signin' action='/login' method='post' hidden='true'>
                <input type='text' class='form-control' name='username' placeholder='Username' required autofocus>
                <input type='password' class="form-control" name='password' placeholder='Password' required autofocus>
                <button class="btn btn-primary btn-danger btn-lg  btn-block" type='submit'>Log in</button>
            </form>
            
            <form action='/signup' class='form-signin' method='POST' id="frm" hidden='true'>
                <input type="text" class='form-control' name="username" placeholder='Username' required autofocus>
                <input type="text" class='form-control' name="display_name" placeholder='Display name' required>
                <input type="password" class='form-control' name="password" placeholder='Password' required>
                <textarea  maxlength="250" class='form-control' name="interests" placeholder="Interests(optional)" form="frm" ></textarea>
                <input id='submit-info' type="submit" value="Sign Up" class="btn btn-danger btn-lg btn-primary btn-block">
            </form>
        </div>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script>

                $('button#signup').on('click', function(evt) {
                    $('h2#signup-header').attr('hidden', false);
                    $('form#frm').attr('hidden', false);
                    $('#login').attr('hidden', false)
                    $('#signup').attr('hidden', true)
                    $('#home-page-container').attr('id',"home-page-container-2")
                    $('h1.home-page-font').attr('hidden', true)


                    $('form.sign-in').attr('hidden', true);

                });

                $('button#login').on('click', function(evt) {
                    $('h2#signup-header').attr('hidden', true);
                    $('form#frm').attr('hidden', true);
                    $('#login').attr('hidden', true)
                    $('#home-page-container').attr('id',"home-page-container-3")
                    

                    $('form.sign-in').attr('hidden', false);

                });

                $('input#submit-info').on('submit', function(evt) {
                    $('form#upload-photo').attr('hidden', false);

                    $('h2#signup-header').attr('hidden', true);
                    $('form#frm').attr('hidden', true);
                    $('h2#signup-header').attr('hidden', true);
                    $('form#frm').attr('hidden', true);

                });




            </script>
        
    </body>
    <br><br><br>
{% endblock %}

