{% extends 'base.html' %}
{% block content %}
    <body class="text-center bg-light">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <img src="/static/images/munch-logo.png" height="90" width="130">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="container-fluid">

        </div>

        
        
    </body>
    <br><br><br>
{% endblock %}